<div class = "container">
    <div class = "jumbotron">
        <h1>Player Listing</h1>
        <table class = "table">
            <thead>
                <th>Id</th>
                <th>Name</th>
                <th>Age</th>
                <th>Category</th>
                <th>Bidding Price</th>
                <th>Team ID</th>
            </thead>
            <tbody>
                <tr *ngFor = "let m of playerdata">
                    <td> {{m.id}} </td>
                    <td> {{m.name}} </td>
                    <td> {{m.age}} </td>
                    <td> {{m.category}} </td>
                    <td> {{m.biddingPrice}} </td>
                    <td> {{m.teamId}} </td>
                   
                    <a [routerLink] = "['/find/',m.id]">Details</a>&nbsp;&nbsp;
                    <a [routerLink] = "['/edit/',m.id]">Edit</a>&nbsp;&nbsp;
                    <a [routerLink] = "['/delete/',m.id]">Delete</a>&nbsp;&nbsp;
                </tr>
            </tbody>
        </table>
    </div>
</div>