<div class = "container">
    <div class = "jumbotron">
        <h1>Team Listing</h1>
        <table class = "table">
            <thead>
                <th>Id</th>
                <th>Name</th>   
            </thead>
            <tbody>
                <tr *ngFor = "let m of teamdata">
                    <td> {{m.teamName}} </td>             
                    <td> {{m.teamId}} </td>
                    <td><a [routerLink]="['/AddTeam']">Details</a>&nbsp;&nbsp;</td>
                    <td><a [routerLink]="['/EditTeam',m.id]">Edit</a>&nbsp;&nbsp;</td>
                    <td><a [routerLink]="['/GetTeam/',m.id]">Find</a>&nbsp;&nbsp;</td>
                    <td><a [routerLink]="['/DeleteTeam/',m.id]">Delete</a>&nbsp;&nbsp;</td>  
                </tr>
            </tbody>
        </table>
    </div>
</div>