<p>teamslist works!</p>
<div class="container">
    <div class="jumbotron">
        <table class="table">
            <thead>
                <th>Team ID</th>
                <th>Team Name</th>
            </thead>
 
            <tbody>
            <tr *ngFor="let m of teamdata">
                <td> {{m.teamId}} </td>
                <td> {{m.teamName}} </td>
                <a [routerLink]="['/GetTeam/',m.teamId]">Details</a>&nbsp;&nbsp;
                <a [routerLink]="['/EditTeam/',m.teamId]">Edit</a>&nbsp;&nbsp;
                <a [routerLink]="['/DeleteTeam/',m.teamId]">Delete</a>&nbsp;&nbsp;    
            </tr>
            </tbody>
 
        </table>

    </div>
</div>
